<div class="row">
  <div class="col-md-8 col-md-offset-2 text-center">
    <h1>New Space</h1>

    <%= render 'form', space: @space %>

    <hr>

    <%= link_to 'Cancel', spaces_path, class: "btn btn-danger" %>

  </div>
</div>



<br>
