
<!--- ################################################## --->

<div class="jumbotron text-white text-center">
  <h1>Pick. Pay. Park.</h1>
  <p>Book at over 9,000 locations now</p>
  <form class="form-inline">
   <!-- <input type="search" class="form-control" size="50" placeholder="Where do you need parking?"> -->
   <%= link_to 'Search', spaces_path, class: "btn btn-default" %>
   <!-- <h4>How does this work?</h4> -->
</div>

<!--- ################################################## --->

<div class="container-fluid-home bg-dark-grey text-white text-center">
  <h2>INSERT TESTIMONIAL CAROUSEL HERE</h2>
</div>

<!--- ################################################## --->

<div class="container-fluid-home text-center">
  <h3>Want to make money from your spare car parking space?</h3>
  <button class="btn btn-lg">Lease my space</button>
  <button class="btn btn-lg">Parking Rent Calculator</button>
  <h3>Join 8,668 Parkhound members who have earned:</h3>    <h1>$4,950,958</h1>
</div>

<!--- ################################################## --->

<div class="container-fluid-home bg-light-grey text-center">
  <h3>Benefits of booking with Parkhound</h3>
  <div class="row">
    <div class="col-sm-4">
      <iframe width="420" height="300" src="https://www.youtube.com/embed/S2YgnErz40U" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-sm-8">
      <h4>Save money</h4>
      <p>You can now easily rent a car parking space for a price you can afford and at the location you need.</p>
      <h4>Be on time</h4>
      <p>Say hello to the new, punctual you! Be on time to work and meetings instead of circling around streets.</p>
      <h4>Peace of mind</h4>
      <p>Be safe in the knowledge that your rental is backed by our booking guarantee and that you're safe from parking fines.</p>
    </div>
  </div>
</div>

<!--- ################################################## --->

<div class="container-fluid-home bg-the-app text-center">
  <h3>The App</h3>
</div>

<!--- ################################################## --->

<div class="container-fluid-home bg-dark-grey text-white text-center">
  <h3>Connect with us on Twitter</h2>
</div>

<!--- ################################################## --->

<div class="container-fluid-home bg-light-grey text-center">
  <h5>Footer stuff</h5>
</div>
