
<!--- ################################################## --->

<div class="jumbotron text-white text-center">
  <h1>Pick. Pay. Park.</h1>
  <p>Book at over 9,000 locations now</p>
  <form class="form-inline">
   <!-- <input type="search" class="form-control" size="50" placeholder="Where do you need parking?"> -->
   <%= link_to 'Search', search_path, class: "btn btn-default" %>
   <!-- <h4>How does this work?</h4> -->
</div>

<!--- ################################################## --->

<div class="container-fluid container-fluid-home bg-dark-grey text-white text-center">
  <h2>INSERT TESTIMONIAL CAROUSEL HERE</h2>
</div>

<!--- ################################################## --->

<div class="container-fluid container-fluid-home text-center">
  <h3>Want to make money from your spare car parking space?</h3>
  <button class="btn btn-lg">Lease my space</button>
  <button class="btn btn-lg">Parking Rent Calculator</button>
  <h3>Join 8,668 Parkhound members who have earned:</h3>    <h1>$4,950,958</h1>
</div>

<!--- ################################################## --->

<div class="container-fluid container-fluid-home bg-light-grey text-center">
  <h3>Benefits of booking with Parkhound</h3>
</div>

<!--- ################################################## --->

<div class="container-fluid container-fluid-home bg-the-app text-center">
  <h3>The App</h3>
</div>

<!--- ################################################## --->

<div class="container-fluid container-fluid-home bg-dark-grey text-white text-center">
  <h3>Connect with us on Twitter</h2>
</div>

<!--- ################################################## --->

<div class="container-fluid container-fluid-home bg-light-grey text-center">
  <h5>Footer stuff</h5>
</div>
